body {
  margin: 0;
  padding: 0;
}
ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
}
a {
  text-decoration: none;
  color: #000;
}
.wrapper {
  max-width: 1460px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (max-width: 767px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
img {
  max-width: 100%;
}
header {
  background: #daddde;
}
header .row-header {
  display: flex;
  align-items: center;
  height: 105px;
}
header .row-header .col-header-logo {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% / 12 * 2 - 30px);
  border: 0px solid #ccc;
}
header .row-header .col-header-logo .logo-blck {
  padding-left: 22px;
}
header .row-header .col-header-content {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% / 12 * 10 - 30px);
  border: 0px solid #ccc;
}
header .row-header .col-header-content .internally-container .row-internally {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
header .row-header .col-header-content .internally-container .row-internally .col-int-menu {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% / 12 * 7 - 30px);
}
@media screen and (max-width: 990px) {
  header .row-header .col-header-content .internally-container .row-internally .col-int-menu {
    width: calc(100% / 12 * 7 - 30px);
  }
}
@media screen and (max-width: 875px) {
  header .row-header .col-header-content .internally-container .row-internally .col-int-menu {
    width: calc(100% / 12 * 5 - 30px);
  }
}
header .row-header .col-header-content .internally-container .row-internally .col-int-menu .menu-blck {
  justify-content: flex-end;
  padding-right: 80px;
}
@media screen and (max-width: 1400px) {
  header .row-header .col-header-content .internally-container .row-internally .col-int-menu .menu-blck {
    padding-right: 30px;
  }
}
@media screen and (max-width: 990px) {
  header .row-header .col-header-content .internally-container .row-internally .col-int-menu .menu-blck {
    justify-content: center;
    padding-right: 0px;
  }
}
@media screen and (max-width: 875px) {
  header .row-header .col-header-content .internally-container .row-internally .col-int-menu .menu-blck {
    display: none;
  }
}
header .row-header .col-header-content .internally-container .row-internally .col-int-menu .menu-blck ul {
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
}
header .row-header .col-header-content .internally-container .row-internally .col-int-menu .menu-blck ul li {
  padding-left: 55px;
  list-style-type: none;
}
@media screen and (max-width: 1400px) {
  header .row-header .col-header-content .internally-container .row-internally .col-int-menu .menu-blck ul li {
    padding-left: 25px;
  }
}
@media screen and (max-width: 990px) {
  header .row-header .col-header-content .internally-container .row-internally .col-int-menu .menu-blck ul li {
    padding-left: 15px;
  }
}
header .row-header .col-header-content .internally-container .row-internally .col-int-menu .menu-blck ul li a {
  font-family: 'Mohave-R';
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
@media screen and (max-width: 990px) {
  header .row-header .col-header-content .internally-container .row-internally .col-int-menu .menu-blck ul li a {
    font-size: 16px;
  }
}
header .row-header .col-header-content .internally-container .row-internally .col-int-menu .menu-blck-min {
  display: none;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 875px) {
  header .row-header .col-header-content .internally-container .row-internally .col-int-menu .menu-blck-min {
    display: block;
  }
}
header .row-header .col-header-content .internally-container .row-internally .col-int-menu .menu-blck-min #menu-dropdown {
  position: absolute;
  display: none;
  top: 0px;
  left: -145px;
}
header .row-header .col-header-content .internally-container .row-internally .col-int-menu .menu-blck-min #menu-dropdown.active {
  display: block;
  top: 60px;
}
header .row-header .col-header-content .internally-container .row-internally .col-int-menu .menu-blck-min #menu-dropdown ul {
  display: flex;
  width: 500px;
}
header .row-header .col-header-content .internally-container .row-internally .col-int-menu .menu-blck-min #menu-dropdown ul li {
  padding-left: 20px;
  list-style-type: none;
}
header .row-header .col-header-content .internally-container .row-internally .col-int-social {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% / 12 * 2 - 30px);
}
@media screen and (max-width: 990px) {
  header .row-header .col-header-content .internally-container .row-internally .col-int-social {
    width: calc(100% / 12 * 3 - 30px);
  }
}
@media screen and (max-width: 875px) {
  header .row-header .col-header-content .internally-container .row-internally .col-int-social {
    width: calc(100% / 12 * 3 - 30px);
  }
}
@media screen and (max-width: 770px) {
  header .row-header .col-header-content .internally-container .row-internally .col-int-social {
    width: calc(100% / 12 * 4 - 30px);
  }
}
header .row-header .col-header-content .internally-container .row-internally .col-int-social .social-blck {
  display: flex;
}
header .row-header .col-header-content .internally-container .row-internally .col-int-social .social-blck a {
  display: block;
  width: 15px;
  height: 15px;
  background: #589aa8;
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
  color: #fff;
  text-align: center;
}
header .row-header .col-header-content .internally-container .row-internally .col-int-social .social-blck a:hover {
  background: transparent;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}
header .row-header .col-header-content .internally-container .row-internally .col-int-lang {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% / 12 * 2 - 30px);
}
@media screen and (max-width: 990px) {
  header .row-header .col-header-content .internally-container .row-internally .col-int-lang {
    width: calc(100% / 12 * 2 - 30px);
  }
}
@media screen and (max-width: 875px) {
  header .row-header .col-header-content .internally-container .row-internally .col-int-lang {
    width: calc(100% / 12 * 3 - 30px);
  }
}
header .row-header .col-header-content .internally-container .row-internally .col-int-lang .lang-blck {
  padding-left: 15px;
}
@media screen and (max-width: 1400px) {
  header .row-header .col-header-content .internally-container .row-internally .col-int-lang .lang-blck {
    padding-left: 40px;
  }
}
@media screen and (max-width: 990px) {
  header .row-header .col-header-content .internally-container .row-internally .col-int-lang .lang-blck {
    padding-left: 10px;
  }
}
@media screen and (max-width: 770px) {
  header .row-header .col-header-content .internally-container .row-internally .col-int-lang .lang-blck {
    width: 50px;
    margin: 0 auto;
    padding-left: 0px;
  }
}
header .row-header .col-header-content .internally-container .row-internally .col-int-lang .lang-blck a {
  font-family: 'Mohave-B';
  font-size: 18px;
  color: #000;
}
@media screen and (max-width: 770px) {
  header .row-header .col-header-content .internally-container .row-internally .col-int-lang .lang-blck a {
    text-align: center;
  }
}
header .row-header .col-header-content .internally-container .row-internally .col-int-lang .lang-blck a:first-child {
  padding-right: 5px;
  border-right: 2px solid #000;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.swiper-slide img {
  min-width: 100%;
  height: 470px;
  overflow: hidden;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  line-height: 20;
  border-radius: 50%;
  background: transparent;
  padding: 7px;
  font-size: 8px;
  opacity: 1;
  border: 1px solid #fff;
}
.swiper-pagination-bullet-active {
  background: #589aa8;
}
.services {
  background: url('../img/bg-center.png') no-repeat;
  width: 100%;
}
.services .s-box {
  padding: 55px 0;
}
.services .s-box .wrapper .row-services {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.services .s-box .wrapper .row-services .col-services {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% / 12 * 4 - 30px);
  border: 0px solid #ccc;
}
.services .s-box .wrapper .row-services .col-services .serv-blck {
  position: relative;
}
.services .s-box .wrapper .row-services .col-services .serv-blck .serv-title {
  position: absolute;
  top: 300px;
  left: 30px;
  color: #fff;
  font-family: 'Mohave-B';
  font-size: 20px;
}
.services .s-box .wrapper .row-services .col-services .serv-blck hr {
  width: 85%;
  position: absolute;
  top: 330px;
  left: 30px;
}
.services .s-box .wrapper .row-services .col-services .serv-blck .serv-text {
  position: absolute;
  top: 360px;
  left: 30px;
  color: #fff;
  font-family: 'Mohave-R';
  font-size: 18px;
  line-height: 1.3;
  opacity: 0.9;
  text-transform: capitalize;
}
.fortan-btn__button {
  background: #edb54d;
  padding: 8px 15px;
  border-radius: 20px;
  color: #000;
  text-decoration: none;
}
.fortan-btn_abs {
  position: absolute;
  bottom: 50px;
  left: 30px;
}
.about-us .row-about {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.about-us .row-about .col-about-img {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% / 12 * 5 - 30px);
}
.about-us .row-about .col-about-img img {
  border-radius: 15px;
}
.about-us .row-about .col-about-text {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% / 12 * 5 - 30px);
  padding-top: 8%;
}
.about-us .row-about .col-about-text .about-title {
  font-family: 'Mohave-B';
  font-size: 30px;
}
.about-us .row-about .col-about-text .about-text {
  font-family: 'Mohave-R';
  font-size: 20px;
  padding: 25px 0;
}
footer {
  padding: 40px;
  background: #cddee2;
}
footer .footer-blck .footer-title {
  font-family: 'Mohave-B';
  font-size: 30px;
}
footer .footer-blck li {
  list-style-type: none;
}
footer .footer-blck a {
  font-size: 22px;
}
footer .row-footer {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
footer .row-footer .col-footer-logo {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% / 12 * 3 - 30px);
}
footer .row-footer .col-footer-logo ul li {
  display: inline;
}
footer .row-footer .col-footer-logo i {
  padding-right: 25px;
  color: #000;
}
footer .row-footer .col-footer {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% / 12 * 1 - 30px);
}
footer .row-footer .col-footer ul {
  width: 200px;
}
footer .row-footer .col-footer-solution {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% / 12 * 3 - 30px);
  padding-left: 3%;
}
footer .row-footer .col-footer-adress {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% / 12 * 4 - 30px);
}
footer .row-footer .col-footer-adress ul {
  width: 305px;
}
footer .row-footer li {
  padding: 5px 0;
}
footer .row-footer li i {
  color: #edb54d;
  padding-right: 12px;
  font-size: 24px;
}
/* Dropdown  */
