<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" integrity="sha512-nNlU0WK2QfKsuEmdcTwkeh+lhGs6uyOxuUs+n+0oXSYDok5qy0EI0lt01ZynHq6+p/tbgpZ7P+yUb+r71wqdXg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/font.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <title>Document</title>
</head>
<body>
  <div class="for-header">
    <div class="header-top">
      <div class="wrapper">
          <div class="header-blck">
              <div class="contact">
                  <div class="email-blck">E-mail: agromashina@list.ru</div>
                  <div class="tel-blck">Departament vinzari: (+373 78) 30-02-22 (+373 78) 30-02-35</div>
              </div>
              <div class="info">
                  <ul class="social">
                      <li class="fb-blck">
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li class="youtube-blck">
                          <a href="#"><i class="fab fa-youtube"></a></i>
                      </li>
                    </ul>
                  <div class="lang">
                      <ul class="lang-blck">
                          <li class="lang-en"><a href="#">En</a></li>
                          <li class="lang-ru"><a href="#">Ru</a></li>
                          <li class="lang-ro"><a href="#">Ro</a></li>
                      </ul>
                  </div>
              </div>
             
          </div>
          
      </div>
  </div>
  <div class="header">
      <div class="wrapper">
          <div class="header__blck header__row">
              <div class="header__col-h header__logo">
                  <a href="#" class="header__logo-img"></a>
              </div>
              <div class="header__col-m header__menu">
                  <ul class="header__ul">
                      
                      <li class='dropdown'>
                        <a href='#'>Utilaj Agricol<i class='fa fa-angle-down'></i></a>
 
                        <ul class="dropdown-content">
                          <li><a href='#'>Product Item</a></li>
                          <li><a href='#'>Product Item</a></li>   
                          <li><a href='#'>Product Item</a></li>
                        </ul>

                      </li>
                      <li class='dropdown'>
                        <a href='#'>Servicii<i class='fa fa-angle-down'></i> </a>
                        
                        <ul class="dropdown-content">
                          <li><a href='#'>Product Item</a></li>
                          <li><a href='#'>Product Item</a></li>
                          <li><a href='#'>Product Item</a></li>
                        </ul>

                      </li>
                      <li><a href='#'>Despre noi</a></li>
                      <li><a href='#'>Noutati</a></li>
                      <li><a href='#'>Contacte</a></li>
                      
                    </ul>
                      <div class="header__hamb">
                        <span id="hamb" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
                        <div id="myNav" class="overlay">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <div class="overlay-content">
                                <ul class="header__ul-min">
                                    
                                    <li class='header__sub-menu'>
                                      <a href='#'>Utilaj Agricol<i class='fa fa-angle-down'></i></a>

                                      <ul>
                                        <li><a href='#'>Product Item</a></li>
                                        <li><a href='#'>Product Item</a></li>   
                                        <li><a href='#'>Product Item</a></li>
                                      </ul>

                                    </li>
                                    <li class='header__sub-menu'>
                                      <a href='#'>Servicii<i class='fa fa-angle-down'></i> </a>
                                      
                                      <ul>
                                        <li><a href='#'>Product Item</a></li>
                                        <li><a href='#'>Product Item</a></li>
                                        <li><a href='#'>Product Item</a></li>
                                      </ul>

                                    </li>
                                    <li><a href='#'>Despre noi</a></li>
                                    <li><a href='#'>Noutati</a></li>
                                    <li><a href='#'>Contacte</a></li>
                                    <li><a href='#'>Contact Us</a></li>
                                  </ul>
                            </div>
                          </div>
                      </div>
                        
              </div>
              <div class="header__col-b header__btn">
                <a href="#" class="header__btn-contact">Contacteaza-ne acum</a>
              </div>
          </div>   
      </div>
    </div>
  </div>
    
  <div class="productend-section">
    <div class="wrapper">
        <div class="row-pr">
            <div class="col-pr w-fixed">
               <div class="sw-container">
                    <!-- Swiper -->
                    <div class="sw-title"><div class="title">Cultivator hidraulic între rînduri PH-35/B</div></div>
                  <div class="swiper-container gallery-top">
                      <div class="swiper-wrapper h">
                      <div class="swiper-slide">
                         <img src="<%= require('./img/productend/bg-sl-1.png') %>" class="big-sl-img"  alt="">
                      </div>
                      <div class="swiper-slide">
                          <img src="<%= require('./img/productend/bg-sl-1.png') %>"  class="big-sl-img"  alt="">
                       </div>
                       <div class="swiper-slide">
                          <img src="<%= require('./img/productend/bg-sl-1.png') %>"  class="big-sl-img"  alt="">
                       </div>
                       <div class="swiper-slide">
                          <img src="<%= require('./img/productend/bg-sl-1.png') %>"  class="big-sl-img"  alt="">
                       </div>
                       <div class="swiper-slide">
                          <img src="<%= require('./img/productend/bg-sl-1.png') %>"  class="big-sl-img" style="width:75%; height:480px" alt="">
                       </div>
                       <div class="swiper-slide">
                          <img src="<%= require('./img/productend/bg-sl-1.png') %>"  class="big-sl-img"  style="width:75%; height:480px" alt="">
                       </div>
                      
                      </div>
                      <!-- Add Arrows -->
                      <div class="swiper-button-next swiper-button-white"></div>
                      <div class="swiper-button-prev swiper-button-white"></div>
                  </div>
                  <div class="swiper-container gallery-thumbs ">
                      <div class="swiper-wrapper">
                      <div class="swiper-slide">
                         <img src="<%= require('./img/productend/sl-min-1.png') %>" class="min-sw-img"  alt="">
                      </div>
                      <div class="swiper-slide">
                          <img src="<%= require('./img/productend/sl-min-1.png') %>" class="min-sw-img"  alt="">
                       </div>
                       <div class="swiper-slide">
                          <img src="<%= require('./img/productend/sl-min-1.png') %>" class="min-sw-img"  alt="">
                       </div>
                       <div class="swiper-slide">
                          <img src="<%= require('./img/productend/sl-min-1.png') %>" class="min-sw-img"  alt="">
                       </div>
                       <div class="swiper-slide">
                          <img src="<%= require('./img/productend/sl-min-1.png') %>" class="min-sw-img"  alt="">
                       </div>
                       <div class="swiper-slide">
                          <img src="<%= require('./img/productend/sl-min-1.png') %>" class="min-sw-img" style=" width:50%; height:43px;" alt="">
                       </div>
                      
                      </div>
                  </div>
               </div>
                
            </div>  
            <div class="col-pr">
  
              <div class="price-container">
                  <div class="title">Cultivator hidraulic între rînduri PH-35/B</div>
                  <div class="price-info">
                      <div class="price">Prețul: <span class="price-number">1200 €</span></div>
                      <a class="btn-block">Contactează-ne</a>
                  </div>
                  <div class="text">Aceasta freza are destinatia de a prelucra solul atit in planta. Aceasta freza are destinatia de a prelucra solul atit in planta. Aceasta freza are destinatia de a prelucra solul atit in planta. Aceasta freza are destinatia de a prelucra solul atit in planta. Aceasta freza are destinatia de a prelucra solul atit in planta. Aceasta freza are destinatia de a prelucra solul atit in planta. Aceasta freza are destinatia de a prelucra solul atit in planta. Aceasta freza are destinatia de a prelucra solul atit in planta. Aceasta freza are destinatia de a prelucra solul atit...</div>
                  <a class="d-link" href="#" download="" title="">текст ссылки</a>
              </div>
            </div>  
        </div>
    </div>  
  </div>

  <div class="table-section">
    <div class="wrapper">
      <table class="iksweb">
        <tbody>
          <tr>
            <th>Denumirea parametrului</th>
            <th><img src="<%= require('./img/productend/table-1.png') %>" alt=""></th>
            <th><img src="<%= require('./img/productend/table-2.png') %>" alt=""></th>
            <th colspan="2"><img src="<%= require('./img/productend/table-3.png') %>" alt=""></th>
            
            <th><img src="<%= require('./img/productend/table-4.png') %>" alt=""></th>
            <th><img src="<%= require('./img/productend/table-5.png') %>" alt=""></th>
            <th><img src="<%= require('./img/productend/table-6.png') %>" alt=""></th>
          </tr>
          <tr class="sp-color-grey">
            <td></td>
            <td>kw</td>
            <td>kg</td>
            <td class="hidden">mm</td>
            <td>mm</td>
            <td>mm</td>
            <td>kg</td>
            <td>m &sup3;</td>
          </tr>
          <tr>
            <td>PRVN-2,5T</td>
            <td>22 - 55</td>
            <td>3000</td>
            <td class="hidden">4600</td>
            <td>1500</td>
            <td>1850</td>
            <td>900</td>
            <td>2.0</td>
          </tr>
          <tr>
            <td>PRVN-3T</td>
            <td>22 - 55</td>
            <td>3000</td>
            <td class="hidden">4600</td>
            <td>1500</td>
            <td>1850</td>
            <td>900</td>
            <td>2.0</td>
          </tr>
         
        </tbody>
      </table>
    </div>
  </div>

  <div class="video-section">
    <div class="wrapper">

     <div class="productend-video-blck">
      <a href="https://www.youtube.com/watch?v=WGYv4zIU6hE" class="productend-video" data-fancybox-type="iframe"></a>
        
     </div>
     
      
    </div>
  </div>


  <div class="accesor-section">
    <div class="wrapper">
      <div class="title">Accesorii pentru productul dat</div>
        <div class="row-acc">
          <div class="col-acc">
            <a href="#" class="products">
              <div class="products__box products__box-bw">
                 <img class="products__img" src="<%= require('./img/productend/accesor-1.png') %>" alt="">
              </div>
              <div class="products__text products__text-fs">Cultivator hidraulic între rînduri PH-35/B</div>
            </a>
          </div>
          <div class="col-acc">
            <a href="#" class="products">
              <div class="products__box products__box-bw">
                 <img class="products__img" src="<%= require('./img/productend/accesor-2.png') %>" alt="">
              </div>
              <div class="products__text products__text-fs">Cultivator hidraulic între rînduri PH-35/B</div>
            </a>
          </div>
          <div class="col-acc">
            <a href="#" class="products">
              <div class="products__box products__box-bw">
                 <img class="products__img" src="<%= require('./img/productend/accesor-2.png') %>" alt="">
              </div>
              <div class="products__text products__text-fs">Cultivator hidraulic între rînduri PH-35/B</div>
            </a>
          </div>
          <div class="col-acc">
            <a href="#" class="products">
              <div class="products__box products__box-bw">
                 <img class="products__img" src="<%= require('./img/productend/accesor-2.png') %>" alt="">
              </div>
              <div class="products__text products__text-fs">Cultivator hidraulic între rînduri PH-35/B</div>
            </a>
          </div>
          <div class="col-acc">
            <a href="#" class="products">
              <div class="products__box products__box-bw">
                 <img class="products__img" src="<%= require('./img/productend/accesor-2.png') %>" alt="">
              </div>
              <div class="products__text products__text-fs">Cultivator hidraulic între rînduri PH-35/B</div>
            </a>
          </div>
         
        </div>
        <div class="swipper-section-acc">
          <div class="wrapper">
            <div class="title"></div>
        
            <div class="produse-sl">
              <div class="swiper-container slider-sw-acc">
                <div class="swiper-wrapper my-swiper-wr">
                  <div class="swiper-slide">
                    <a href="#" class="products">
                      <div class="products__box products__box-bw">
                         <img class="products__img" src="<%= require('./img/productend/accesor-1.png') %>" alt="">
                      </div>
                      <div class="products__text products__text-fs">Cultivator hidraulic între rînduri PH-35/B</div>
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="products">
                      <div class="products__box products__box-bw">
                         <img class="products__img" src="<%= require('./img/productend/accesor-2.png') %>" alt="">
                      </div>
                      <div class="products__text products__text-fs">Cultivator hidraulic între rînduri PH-35/B</div>
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="products">
                      <div class="products__box products__box-bw">
                         <img class="products__img" src="<%= require('./img/productend/accesor-3.png') %>" alt="">
                      </div>
                      <div class="products__text products__text-fs">Cultivator hidraulic între rînduri PH-35/B</div>
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="products">
                      <div class="products__box products__box-bw">
                         <img class="products__img" src="<%= require('./img/productend/accesor-4.png') %>" alt="">
                      </div>
                      <div class="products__text products__text-fs">Cultivator hidraulic între rînduri PH-35/B</div>
                    </a>
                  </div>
                  
                </div>
                <!-- Add Pagination -->
               
                <!-- Add Arrows -->
                
                     
                    </div>
      
                    <div class="swiper-nav-acc">
                      <div class="my-btn-prev-acc"></div>
                      <div class="my-btn-next-acc"></div>
                    </div>
              </div>
              
            </div>
          
      
           
        </div>
    </div>
  </div>

  <div class="swipper-section">
    <div class="wrapper">
      <div class="title"></div>
  
      <div class="produse-sl">
        <div class="swiper-container slider-sw">
          <div class="swiper-wrapper my-swiper-wr">
            <div class="swiper-slide">
              <a href="#" class="products">
                <div class="products__box products__box-sl">
                   <img class="products__img-sw" src="<%= require('./img/productend/swiper-sl1.png') %>" alt="">
                </div>
                <div class="products__text products__text-sl">Cultivator hidraulic între rînduri PH-35/B</div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="products">
                <div class="products__box products__box-sl products__box-sl-sw">
                   <img class="products__img-sw" src="<%= require('./img/productend/swiper-sl2.png') %>" alt="">
                </div>
                <div class="products__text products__text-sl">Cultivator hidraulic între rînduri PH-35/B</div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="products">
                <div class="products__box products__box-sl">
                   <img class="products__img-sw" src="<%= require('./img/productend/swiper-sl3.png') %>" alt="">
                </div>
                <div class="products__text products__text-sl">Cultivator hidraulic între rînduri PH-35/B</div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="products">
                <div class="products__box products__box-sl">
                   <img class="products__img-sw" src="<%= require('./img/productend/swiper-sl4.png') %>" alt="">
                </div>
                <div class="products__text products__text-sl">Cultivator hidraulic între rînduri PH-35/B</div>
              </a>
            </div>
            <div class="swiper-slide">Slide 6</div>
            <div class="swiper-slide">Slide 7</div>
            <div class="swiper-slide">Slide 8</div>
            <div class="swiper-slide">Slide 9</div>
            <div class="swiper-slide">Slide 10</div>
          </div>
          <!-- Add Pagination -->
         
          <!-- Add Arrows -->
          
               
              </div>

              <div class="swiper-nav">
                <div class="my-btn-prev"></div>
                <div class="my-btn-next"></div>
              </div>
        </div>
        
      </div>
    

     
  </div>


</div>
    <footer class="footer">
      <div class="wrapper">
        <div class="footer-logo"></div>
        <div class="priority">
           <p>Prioritate a SA Agromasina este dezvoltarea intreprinderii prin</p> 
           <p>modernizarea, imbunatatirea calitati si cercetarea masinelor agricole</p>
           <p>necesare agricultorilor.</p>
        </div>
        <div class="row-footer">
          <div class="col-footer">
            <div class="contact-gen">
              <div class="job">Director General:</div>
              <div class="tel">(+373 22) 47-12-16</div>
              <div class="tel">(+373 22) 47-20-20</div>
            </div>
          </div>
          <div class="col-footer">
            <div class="contact-gen">
              <div class="job">Director Comercial:</div>
              <div class="tel">(+373 22) 47-05-03</div>
              
            </div>
          </div>
          <div class="col-footer">
            <div class="contact-gen">
              <div class="job">Departament de marketing:</div>
              <div class="tel">(+373 78) 30-02-35</div>
              
            </div>
          </div>
          <div class="col-footer">
            <div class="contact-gen">
              <div class="job">Departament vinzari:</div>
              <div class="tel">(+373 78) 30-02-22</div>
              <div class="tel">(+373 78) 30-02-35</div>
            </div>
          </div>
        </div>
      
        
      </div>
      <hr>
      <ul class="social" style="width:70px; margin:0 auto">
        <li class="fb-blck">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="youtube-blck">
            <a href="#"><i class="fab fa-youtube"></a></i>
        </li>
        <li class="footer-logo-min" style="padding-left:22px; line-height:1.3;">
          <a href="#"><img src="<%= require('./img/footer-logo-min.png') %>" alt=""></a>
      </li>
      </ul>
    <div class="sub-footer">©2020 SA “AGROMAŞINA”. All rights reserved.</div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js" integrity="sha512-j7/1CJweOskkQiS5RD9W8zhEG9D9vpgByNGxPIqkO5KrXrwyDAroM9aQ9w8J7oRqwxGyz429hPVk/zR6IOMtSA==" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    

</body>
</html>